body {
    font-family: "Arial", sans-serif;
}

#page_container {
    width: 1700px;
    margin: 0 auto;
    box-shadow: 0px 0px 48px 16px rgba(0, 0, 0, 0.175);
    border: 1px solid black;
}

#logo {
    width: 200px;
    float: left;
    padding: 15px 0 20px 40px;

}

#logo img {
    width: 100px;
}

#page_title {
    width: 1000px;
    float: left;
    text-align: center;
    padding-left: 100px;
    padding-top: 25px;

}

.title {
    font-size: 40px;

}

nav {
    clear: both;
    text-align: center;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(199,179, 127);
}

nav li {
    display: inline-block;
}

nav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 30px;
    font-size: 20px;
    color: white;

}

nav li a:hover {
    background-color: rgb(198,12, 48);
}

#intro {
    background: black url(/resources/queenstown-late-night.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 300px;
    padding-top: 300px;
    
}

#intro_two {
    background: black url(/resources/shotover.JPG) no-repeat center;
    background-size: cover;
    padding-bottom: 300px;
    padding-top: 300px;
    z-index: 1;
    
}

#intro_block {

    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.175);
    
    width: 850px;
    margin-left: 430px;
    color: white;
    border: 1px solid white;

}

#intro_block li {
    display: inline-block;
}

#intro_block a {
    display: inline-block;
    text-decoration: none;
    text-align:  center;
    padding: 14px 40px;
    font-size: 25px;
    color: white;

}
 
#intro_block a:hover {
    background-color: rgb(198,12, 48);
}

#intro_block h1 {
    font-size: 25pt;
}

#lake_image {
    width: 850px;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#lake_image img {
    width: 800px;
}

#qtown_text {
    float: left;
    width: 600px;
    text-align: justify;
    padding-left: 100px;
    padding-top: 20px;
    
    
}

footer {
    clear: both;
    width: 1700px;
    background-color: gray;
    padding-bottom: 200px;
}

#more_info {
    float: left;
    width: 400px;

}

#footer_txt {
    float: left;
    width: 400px;

}

#socials {
    float: left;
    width: 400px;
    text-decoration: none;
    

}

#socials ul {
    list-style: none;
}




.triangle {
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 0 1700px;
    border-color: transparent transparent transparent rgb(199,179, 127);
    margin-top: -60px;
    position: relative;
    z-index: 2;
    clear: both;
}


#about_qtown_history p {
    background-color:rgb(199,179, 127) ;
    width: 600px;
    padding-left: 550px;
    margin-top: 0px;
}

#gallery {

    float: left;
}